<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Required Stylesheets -->
<link rel="stylesheet" type="text/css" href="../css/reset.css" media="screen" />
<link rel="stylesheet" type="text/css" href="../css/text.css" media="screen" />
<link rel="stylesheet" type="text/css" href="../css/fonts/ptsans/stylesheet.css" media="screen" />
<link rel="stylesheet" type="text/css" href="../css/fluid.css" media="screen" />

<link rel="stylesheet" type="text/css" href="../css/mws.style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="../css/icons/icons.css" media="screen" />

<!-- JavaScript Plugins -->

<script type="text/javascript" src="../js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui.js"></script>
<script type="text/javascript" src="../plugins/layer-v3.1.1/layer/layer.js"></script>

<script type="text/javascript" src="../js/categoryEdit.js"></script>

<title>MWS Admin - Form Layouts</title>

</head>

<body>

    <div id="mws-wrapper">
		<div class="container" style="width: 100%">
			<div class="mws-panel grid_8">
				<div class="mws-panel-header">
					<span class="mws-i-24 i-list"></span>
				</div>
				<div class="mws-panel-body">
					<form class="mws-form" method="post" id="categoryForm">
						<div class="mws-form-inline">
							<input type="hidden" name="id" id="id" th:value="${category.id}"/>
							<div class="mws-form-row">
								<label>名称</label>
								<div class="mws-form-item large">
									<input type="text" name="name" class="mws-textinput" th:value="${category.name}" />
								</div>
							</div>
							<div class="mws-form-row">
								<label>类型</label>
								<div class="mws-form-item large">
									<input type="text" name="type" class="mws-textinput" th:value="${category.type}"/>
								</div>
							</div>
						</div>
						<div class="mws-button-row">
							<button type="button" onclick="submitCategoryForm()" class="mws-button green">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
    </div>


</body>
</html>
