<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- Required Stylesheets -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" media="screen" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/text.css}" media="screen" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/fonts/ptsans/stylesheet.css}" media="screen" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/fluid.css}" media="screen" />

	<link rel="stylesheet" type="text/css" th:href="@{/css/mws.style.css}" media="screen" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/icons/icons.css}" media="screen" />

	<!-- JavaScript Plugins -->

	<script type="text/javascript" th:src="@{/js/jquery-1.7.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery-ui.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/layer-v3.1.1/layer/layer.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/jquery.validate.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/jquery.filestyle.js}"></script>
	<script type="text/javascript" th:src="@{/js/orgEdit.js}"></script>

	<title>融算盘</title>

</head>

<body>

    <div id="mws-wrapper">
		<div class="container" style="width: 100%">
			<div class="mws-panel grid_8">
				<div class="mws-panel-header">
					<span class="mws-i-24 i-list"></span>
				</div>
				<div class="mws-panel-body">
					<form class="mws-form" id="orgForm" enctype="multipart/form-data">
						<div class="mws-form-inline">
							<input type="hidden" name="id" id="id" th:value="${org.id}"/>
							<div class="mws-form-row">
								<label>名称 <span style="color: #b90a0f">*</span></label>
								<div class="mws-form-item large">
									<input type="text" name="name" class="mws-textinput" th:value="${org.name}"/>
								</div>
							</div>
							<div class="mws-form-row">
								<label>额度 <span style="color: #b90a0f">*</span></label>
								<div class="mws-form-item large" style="float: left;width: 30%;margin-left: 0;">
									<input type="text" name="limitMin" class="mws-textinput" th:value="${org.limitMin}"/>
								</div>
								<div class="mws-form-item large" style="float: left;width: 3%;margin-left: 0;text-align: center;">
									-
								</div>
								<div class="mws-form-item large" style="float: left;width: 30%;margin-left: 0;">
									<input type="text" name="limitMax" class="mws-textinput" th:value="${org.limitMax}"/>
								</div>
								<div class="mws-form-item large" style="float: left;width: 3%;margin-left: 0;text-align: center;transform: translate(0%,10%);">
									(万)
								</div>
							</div>
							<div class="mws-form-row">
								<label>期限 <span style="color: #b90a0f">*</span></label>
								<div class="mws-form-item large">
									<input type="text" name="term" class="mws-textinput" th:value="${org.term}"/>
								</div>
							</div>
							<div class="mws-form-row">
								<label>利率</label>
								<div class="mws-form-item large" style="float: left;width: 30%;margin-left: 0;">
									<input type="text" name="interestRateMin" class="mws-textinput" th:value="${org.interestRateMin}"/>
								</div>
								<div class="mws-form-item large" style="float: left;width: 3%;margin-left: 0;text-align: center;transform: translate(0%,10%);">
									&#37;
								</div>
								<div class="mws-form-item large" style="float: left;width: 3%;margin-left: 0;text-align: center;">
									-
								</div>
								<div class="mws-form-item large" style="float: left;width: 30%;margin-left: 0;">
									<input type="text" name="interestRateMax" class="mws-textinput" th:value="${org.interestRateMax}"/>
								</div>
								<div class="mws-form-item large" style="float: left;width: 3%;margin-left: 0;text-align: center;transform: translate(0%,10%);">
									&#37;
								</div>
							</div>
							<div class="mws-form-row">
								<label>申请条件</label>
								<div class="mws-form-item large">
									<textarea cols="auto" rows="auto" name="requirements" th:text="${org.requirements}"></textarea>
								</div>
							</div>
							<div class="mws-form-row">
								<label>申请材料</label>
								<div class="mws-form-item large">
									<textarea cols="auto" rows="auto" name="material" th:text="${org.material}"></textarea>
								</div>
							</div>
							<div class="mws-form-row">
								<label>logo</label>
								<div class="mws-form-item large">
									<img th:src="${org.logo}" alt="" height="80" width="100"/><br/>
									<input type="file" name="file" class="mws-textinput"/>
									<span>最佳图片大小:100*80</span>
									<input type="hidden" name="logo" th:value="${org.logo}"/>
								</div>
							</div>
							<div class="mws-form-row">
								<label>联系人</label>
								<div class="mws-form-item large">
									<input type="text" name="contacts" class="mws-textinput" th:value="${org.contacts}"/>
								</div>
							</div>
							<div class="mws-form-row">
								<label>联系电话</label>
								<div class="mws-form-item large">
									<input type="text" name="phone" class="mws-textinput" th:value="${org.phone}"/>
								</div>
							</div>
							<div class="mws-form-row">
								<label>排序</label>
								<div class="mws-form-item large">
									<input type="number" name="order" class="mws-textinput" th:value="${org.order}"/>
								</div>
							</div>
							<div class="mws-form-row">
								<label>优势</label>
								<div class="mws-form-item large">
									<textarea cols="auto" rows="auto" name="strengths" th:text="${org.strengths}"></textarea>
								</div>
							</div>
							<div class="mws-form-row">
								<label>描述</label>
								<div class="mws-form-item large">
									<textarea cols="auto" rows="auto" name="desc" th:text="${org.desc}"></textarea>
								</div>
							</div>
						</div>
						<div class="mws-button-row">
							<button type="button" onclick="submitOrgForm()" class="mws-button green">提交</button>
						</div>
					</form>
				</div>
			</div>

		</div>
    </div>


</body>
</html>
