<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- Required Stylesheets -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/city-select.css}" media="screen" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" media="screen" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/text.css}" media="screen" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/fonts/ptsans/stylesheet.css}" media="screen" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/fluid.css}" media="screen" />

	<link rel="stylesheet" type="text/css" th:href="@{/css/mws.style.css}" media="screen" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/icons/icons.css}" media="screen" />

	<!-- JavaScript Plugins -->
	<script th:inline="javascript">     
		var rootpath = [[@{/}]];      
	</script>
	<script type="text/javascript" th:src="@{/js/jquery-1.7.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery-ui.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/layer-v3.1.1/layer/layer.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/jquery.validate.js}"></script>
	<script type="text/javascript" th:src="@{/js/newcitydata.js}"></script>
	<script type="text/javascript" th:src="@{/js/citySelect-1.0.4.js}"></script>
	<script type="text/javascript" th:src="@{/js/subCategoryEdit.js}"></script>

	<title>融算盘</title>

</head>

<body>

    <div id="mws-wrapper">
		<div class="container" style="width: 100%">
			<div class="mws-panel grid_8">
				<div class="mws-panel-header">
					<span class="mws-i-24 i-list"></span>
				</div>
				<div class="mws-panel-body">
					<form class="mws-form" id="subCategoryForm">
						<div class="mws-form-inline">
							<input type="hidden" name="id" id="id" th:value="${subCategory.id}"/>
							<input type="hidden" id="tempCId" th:value="${subCategory.categoryId}"/>
							<input type="hidden" name="categoryName" id="categoryName" th:value="${subCategory.categoryName}"/>
							<div class="mws-form-row">
								<label>名称 <span style="color: #b90a0f">*</span></label>
								<div class="mws-form-item large">
									<input type="text" name="name" class="mws-textinput"
									th:value="${subCategory.name}"/>
								</div>
							</div>
							<div class="mws-form-row">
								<label>城市 <span style="color: #b90a0f">*</span></label>
								<div class="mws-form-item large">
									<div class="city-select" id="city" th:attr="val=${cityName}"></div>
								</div>
							</div>
							<div class="mws-form-row">
								<label>抵押状态 <span style="color: #b90a0f">*</span></label>
								<div class="mws-form-item large">
									<select name="group" id="group">
										<option value="wdy" th:selected="${group eq 'wdy'}">无抵押</option>
										<option value="dy" th:selected="${group eq 'dy'}">抵押</option>
									</select>
								</div>
							</div>
							<div class="mws-form-row">
								<label>类型 <span style="color: #b90a0f">*</span></label>
								<div class="mws-form-item large">
									<select name="type" id="typeId" th:attr="val=${typeId}"></select>
								</div>
							</div>
							<div class="mws-form-row">
								<label>大类 <span style="color: #b90a0f">*</span></label>
								<div class="mws-form-item large">
									<select name="categoryId"></select>
								</div>
							</div>
							<div class="mws-form-row">
								<label>参数 <span style="color: #b90a0f">*</span></label>
								<div class="mws-form-item large">
									<input type="text" name="paramKey" class="mws-textinput"
									th:value="${subCategory.paramKey}"/>
									<span style="color:red;">注: 申请额度,无抵押月供,信用卡已用额度/均六个月使用额度 等三项参数分别为【x】【y】【z】,参数的值不能为【x】【y】【z】,不区分大小写</span>
								</div>
							</div>
							<div class="mws-form-row">
								<label>默认值</label>
								<div class="mws-form-item large">
									<input type="number" name="defaultValue" class="mws-textinput"
									th:value="${subCategory.defaultValue}"/>
								</div>
							</div>
						</div>
						<div class="mws-button-row">
							<button type="button" onclick="submitSubCategoryForm()" class="mws-button green">提交</button>
						</div>
					</form>
				</div>
			</div>

		</div>
    </div>


</body>
</html>
