<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- Required Stylesheets -->
	<link rel="stylesheet" type="text/css" href="../css/reset.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="../css/text.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="../css/fonts/ptsans/stylesheet.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="../css/fluid.css" media="screen" />

	<link rel="stylesheet" type="text/css" href="../css/mws.style.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="../css/icons/icons.css" media="screen" />

	<!-- JavaScript Plugins -->

	<script type="text/javascript" src="../js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="../js/jquery-ui.js"></script>
	<script type="text/javascript" src="../plugins/layer-v3.1.1/layer/layer.js"></script>
	<script type="text/javascript" src="../plugins/jquery.validate.js"></script>

	<script type="text/javascript" src="../js/subCategoryEdit.js"></script>

<title>MWS Admin - Form Layouts</title>

</head>

<body>

    <div id="mws-wrapper">
		<div class="container" style="width: 100%">
			<div class="mws-panel grid_8">
				<div class="mws-panel-header">
					<span class="mws-i-24 i-list"></span>
				</div>
				<div class="mws-panel-body">
					<form class="mws-form" id="subCategoryForm">
						<div class="mws-form-inline">
							<input type="hidden" name="id" id="id" th:value="${subCategory.id}"/>
							<div class="mws-form-row">
								<label>名称 <span style="color: #b90a0f">*</span></label>
								<div class="mws-form-item large">
									<input type="text" name="name" class="mws-textinput"
									th:value="${subCategory.name}"/>
								</div>
							</div>
							<div class="mws-form-row">
								<label>大类 <span style="color: #b90a0f">*</span></label>
								<div class="mws-form-item small">
									<select name="categoryId" th:field="*{subCategory.categoryId}">
										<option value="0">--</option>
										<option th:each="category:${categories}" th:value="${category.id}"
												th:text="${category.name}"></option>
									</select>
								</div>
							</div>
							<div class="mws-form-row">
								<label>参数 <span style="color: #b90a0f">*</span></label>
								<div class="mws-form-item large">
									<input type="text" name="paramKey" class="mws-textinput"
									th:value="${subCategory.paramKey}"/>
									<span>注: 申请额度,无抵押还款,信用卡负债等三项参数分别为【x】【y】【z】,参数的值不能为【x】【y】【z】,不区分大小写</span>
								</div>
							</div>
						</div>
						<div class="mws-button-row">
							<button type="button" onclick="submitSubCategoryForm()" class="mws-button green">Submit</button>
						</div>
					</form>
				</div>
			</div>

		</div>
    </div>


</body>
</html>
