<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{/css/text.css}" media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{/css/fluid.css}" media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{/css/mws.style.css}" media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{/css/mws.theme.css}" media="screen" />

<title>融算盘</title>	
</head>
<body>

	<div id="mws-header" class="clearfix">
    	<div id="mws-logo-container">
        	<div id="mws-logo-wrap">
                <h1 style="margin-top: 12px;"><font size="300" color="white">融算盘</font></h1>
			</div>
        </div>
    </div>
    
    <div id="mws-wrapper">

        <div id="mws-container" class="clearfix" style="margin-left: 0px;">
            <div class="container">
            	<div id="mws-error-container">
                	<h1 id="mws-error-code">Error <span>404</span></h1>
                    <p id="mws-error-message">
                        亲，页面不见了!
                    </p>
                </div>
            </div>            
		</div>
    </div>


</body>
</html>
