<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Required Stylesheets -->
<link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{/css/text.css}" media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{/css/fonts/ptsans/stylesheet.css}" media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{/css/fluid.css}" media="screen" />

<link rel="stylesheet" type="text/css" th:href="@{/css/mws.style.css}" media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{/css/icons/icons.css}" media="screen" />

<link rel="stylesheet" type="text/css" th:href="@{/css/jui/jquery.ui.css}" media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{/css/mws.theme.css}" media="screen" />

<script type="text/javascript" th:src="@{/js/jquery-1.7.1.min.js}" ></script>

<script type="text/javascript" th:src="@{/plugins/jquery.dataTables.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/plugins/layer-v3.1.1/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.js}"></script>
<script type="text/javascript" th:src="@{/js/mws.js}" ></script>

<script type="text/javascript" th:src="@{/js/filter.js}"></script>
<style type="text/css">
.mws-form .mws-form-inline label
{
	height: 55px;
}
</style>
<title>融算盘</title>
</head>

<body>

	<!-- Header Wrapper -->
	<div id="mws-header" class="clearfix">
    
    	<!-- Logo Wrapper -->
    	<div id="mws-logo-container">
        	<div id="mws-logo-wrap">
            	<h1 style="margin-top: 12px;"><font size="300" color="white">融算盘</font></h1>
			</div>
        </div>
            
    </div>
    
    <!-- Main Wrapper -->
    <div id="mws-wrapper">
    	<!-- Necessary markup, do not remove -->
		<div id="mws-sidebar-stitch"></div>
		<div id="mws-sidebar-bg"></div>
        
        <!-- Sidebar Wrapper -->
        <div id="mws-sidebar">
            <!-- Main Navigation -->
            <div id="mws-navigation">
            	<ul>
					<li><a href="org" class="mws-i-24 i-home">机构管理</a></li>
					<li><a href="contacts" class="mws-i-24 i-user">联系人管理</a></li>
					<li><a href="category" class="mws-i-24 i-chart">大类管理</a></li>
					<li><a href="subCategory" class="mws-i-24 i-table-1">小类管理</a></li>
					<li><a href="formula" class="mws-i-24 i-polaroids">公式管理</a></li>
					<li class="active"><a href="filter" class="mws-i-24 i-myspace">机构查询</a></li>
					<li><a href="stat" class="mws-i-24 i-graph-2">统计</a></li>
                </ul>
            </div>
            <!-- End Navigation -->
            
        </div>
        
        
        <!-- Container Wrapper -->
        <div id="mws-container" class="clearfix">
        
        	<!-- Main Container -->
            <div class="container">
                <div class="mws-panel grid_8">
                    <div class="mws-panel-header">
                        <span class="mws-i-24 i-home">机构查询</span>
                    </div>
                    <div class="mws-panel-body">
                        <div class="mws-panel-toolbar top clearfix">
                            <form class="mws-form" style="width: 100%;" id="searchForm">
			                	<div class="mws-form-inline" style="width: 100%;display: inline-block;  margin-bottom: 10px;">
			                		<div class="mws-form-row" style="width:30%; padding: 5px 20px 0px 20px;">
			                			<label>选择类型</label>
			                			<div class="mws-form-item large">
			                				<select class="required" name="type" required>
			                					<option value="" style="font-color: #b6b6b6" disabled selected hidden>请选择</option>
			                					<option value="ajf">按揭房</option>
			                					<option value="bd">保单</option>
			                					<option value="gjj">公积金</option>
			                				</select>
			                			</div>
			                		</div>
			                    </div>
			                    <div class="mws-form-inline" style="width: 30%;display: inline-block;  margin-bottom: 10px;">
			                		<div class="mws-form-row" style="width: 80%; padding: 5px 20px 0px 20px;">
			                			<label>申请额度</label>
			                			<div class="mws-form-item large">
			                				<input type="number" style="margin-top: 6px;" name="sqed" required></input>
			                			</div>
			                		</div>
			                    </div>
			                    <div class="mws-form-inline" style="width: 30%;display: inline-block;  margin-bottom: 10px;">
			                		<div class="mws-form-row" style="width: 80%; padding: 5px 20px 0px 20px;">
			                			<label>无抵押月供(未显示月供的按本金*3.5%计算)</label>
			                			<div class="mws-form-item large">
			                				<input type="number" style="margin-top: 6px;"  name="wdyhk" required></input>
			                			</div>
			                		</div>
			                    </div>
			                    <div class="mws-form-inline" style="width: 30%;display: inline-block;  margin-bottom: 10px;">
			                		<div class="mws-form-row" style="width: 80%;padding: 5px 20px 0px 20px;">
			                			<label>信用卡已用额度/均六个月使用额度(取最大值)</label>
			                			<div class="mws-form-item large">
			                				<input type="number" style="margin-top: 6px;" name="xykfz" required></input>
			                			</div>
			                		</div>
			                    </div>
			                    <div class="mws-form-inline" style="width: 11%;; margin: auto;">
			                    	<div class="mws-form-row" style="padding: 7px;">
			                			<button type="button" name="search">查询</<button>
			                		</div>
			                	</div>
			                </form>
                        </div>
                        <table class="mws-datatable-fn mws-table" id="listTable"></table>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- End Container Wrapper -->
        
    </div>
    <!-- End Main Wrapper -->


</body>
</html>