<!DOCTYPE HTML>
<html>
<head>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache" /><!--只是或者请求的消息不能缓存-->
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /><!--强制让文档与设备的宽度保持 1:1 ；
    文档最大的宽度比列是1.0（ initial-scale 初始刻度值和 maximum-scale 最大刻度值）；user-scalable 定义用户是否可以手动缩放（ no 为不缩放），使页面固定设备上面的大小；-->
    <meta name="apple-mobile-web-app-capable" content="yes" /><!--网站开启对 web app 程序的支持-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" /><!--（改变顶部状态条的颜色）-->
    <link href="css/home.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div class="top_f">
  	<div class="top_f_in" style="text-align: center;">
        <!-- <img src="images/logo3.png"/> -->
        <font color="white">融算盘</font>
    </div>
  </div>
    <div class="home-main">
        <div class="flex-container">
            <div class="flex-item">
                <a href="/fallin-information/ajf">
                  <div class="item-box">
                    <p class="flex-item-img"><img src="images/obj_icon3.png"></p>
                    <p>按揭房</p>
                  </div>
                </a>
            </div>
            <div class="flex-item">
                <a href="/fallin-information/bd">
                  <div class="item-box">
                    <p class="flex-item-img"><img src="images/obj_icon2.png"></p>
                    <p>保单</p>
                  </div>
                </a>
            </div>
            <div class="flex-item">
                <a href="/fallin-information/gjj">
                  <div class="item-box">
                    <p class="flex-item-img"><img src="images/obj_icon1.png"></p>
                    <p>公积金</p>
                  </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
