<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>首页</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" >
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" >
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" >
</head>
<body>
  <div class="top_f">
  	<div class="top_f_in" style="text-align: center;">
        <!-- <img src="images/logo3.png"/> -->
        <font color="white">融算盘</font>
    </div>
  </div>
    <div class="home-main">
        <div class="flex-container">
            <div class="flex-item">
                <a th:href="@{/fallin-information/ajf}">
                  <div class="item-box">
                    <p class="flex-item-img"><img src="images/obj_icon3.png"></p>
                    <p>按揭房</p>
                  </div>
                </a>
            </div>
            <div class="flex-item">
                <a th:href="@{/fallin-information/ajf}">
                  <div class="item-box">
                    <p class="flex-item-img"><img src="images/obj_icon2.png"></p>
                    <p>保单</p>
                  </div>
                </a>
            </div>
            <div class="flex-item">
                <a th:href="@{/fallin-information/ajf}">
                  <div class="item-box">
                    <p class="flex-item-img"><img src="images/obj_icon1.png"></p>
                    <p>公积金</p>
                  </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
