<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Required Stylesheets -->
<link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{/css/text.css}" media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{/css/fonts/ptsans/stylesheet.css}" media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{/css/fluid.css}" media="screen" />

<link rel="stylesheet" type="text/css" th:href="@{/css/mws.style.css}" media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{/css/icons/icons.css}" media="screen" />

<link rel="stylesheet" type="text/css" th:href="@{/css/jui/jquery.ui.css}" media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{/css/mws.theme.css}" media="screen" />
<script th:inline="javascript">     
	var rootpath = [[@{/}]];      
</script>
<script type="text/javascript" th:src="@{/js/jquery-1.7.1.min.js}" ></script>

<script type="text/javascript" th:src="@{/plugins/jquery.dataTables.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/plugins/layer-v3.1.1/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/plugins/echarts.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.js}"></script>
<script type="text/javascript" th:src="@{/js/mws.js}" ></script>

<script type="text/javascript" th:src="@{/js/stat.js}" ></script>

<title>融算盘</title>

</head>

<body>

	<div id="mws-header" class="clearfix">
    	<div id="mws-logo-container">
        	<div id="mws-logo-wrap">
            	<h1 style="margin-top: 12px;"><font size="300" color="white">融算盘</font></h1>
			</div>
        </div>
    </div>
    
    <div id="mws-wrapper">
		<div id="mws-sidebar-stitch"></div>
		<div id="mws-sidebar-bg"></div>
       <div id="mws-sidebar">
            <!-- Main Navigation -->
            <div id="mws-navigation">
            	<ul>
                	<li><a href="type" class="mws-i-24 i-home">类型管理</a></li>
            		<li><a href="category" class="mws-i-24 i-chart">大类管理</a></li>
                    <li><a href="subCategory" class="mws-i-24 i-table-1">小类管理</a></li>
                    <li><a href="org" class="mws-i-24 i-companies">机构管理</a></li>
                    <li><a href="contacts" class="mws-i-24 i-user">联系人管理</a></li>
                    <li><a href="formula" class="mws-i-24 i-polaroids">公式管理</a></li>
                    <li><a href="filter" class="mws-i-24 i-myspace">机构查询</a></li>
                    <li class="active"><a href="stat" class="mws-i-24 i-graph-2">统计</a></li>
                </ul>
            </div>
            <!-- End Navigation -->
            
        </div>
        
        <div id="mws-container" class="clearfix">
            <div class="container">
            
            	<div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	<span class="mws-i-24 i-graph-2">统计</span>
                    </div>
                    <div class="mws-panel-body">
                    	<div class="mws-panel-toolbar top clearfix">
                            <form class="mws-form" id="statForm">
			                    <div class="mws-form-inline" style="display: inline-block;  margin-bottom: 10px;">
			                		<div class="mws-form-row" style="padding: 5px 20px 0px 20px;">
			                			<div class="mws-form-item large" >
			                				<label>搜索时间</label>
			                				<span style="display: inline-block;  margin-top: 6px;"><input id="start" name="start" required></input></span>
			                				-
			                				<span style="display: inline-block;  margin-top: 6px;"><input id="end" name="end" required></input></span>
			                				
			                				<span style="display: inline-block;  "><button type="button" id="search">查询</<button></span>
			                			</div>
			                		</div>
			                    </div>
			                </form>
                        </div>
                    	<div class="mws-panel-content">
                    		<div id="statOrg" style="height:500px;"></div>
                    		<div id="statTime" style="height:500px;"></div>
                    	</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>


</body>
</html>
