<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{/css/text.css}" media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{/css/fonts/ptsans/stylesheet.css}" media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{/css/fluid.css}" media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{/css/mws.style.css}" media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{/css/icons/icons.css}" media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{/css/mws.theme.css}" media="screen" />
<script th:inline="javascript">     
	var rootpath = [[@{/}]];      
</script>
<script type="text/javascript" th:src="@{/js/jquery-1.7.1.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery.dataTables.js}"></script>
<script type="text/javascript" th:src="@{/plugins/layer-v3.1.1/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.js}"></script>
<script type="text/javascript" th:src="@{/js/mws.js}"></script>

<script type="text/javascript" th:src="@{/js/typeMain.js}"></script>

    <title>融算盘</title>

</head>

<body>

	<!-- Header Wrapper -->
	<div id="mws-header" class="clearfix">
    
    	<!-- Logo Wrapper -->
    	<div id="mws-logo-container">
        	<div id="mws-logo-wrap">
                <h1 style="margin-top: 12px;"><font size="300" color="white">融算盘</font></h1>
			</div>
        </div>
        
    </div>
    
    <!-- Main Wrapper -->
    <div id="mws-wrapper">
    	<!-- Necessary markup, do not remove -->
		<div id="mws-sidebar-stitch"></div>
		<div id="mws-sidebar-bg"></div>
        
        <!-- Sidebar Wrapper -->
        <div id="mws-sidebar">
            <!-- Main Navigation -->
            <div id="mws-navigation">
            	<ul>
            		<li class="active"><a href="type" class="mws-i-24 i-home">类型管理</a></li>
            		<li><a href="category" class="mws-i-24 i-chart">大类管理</a></li>
                    <li><a href="subCategory" class="mws-i-24 i-table-1">小类管理</a></li>
                    <li><a href="org" class="mws-i-24 i-home">机构管理</a></li>
                    <li><a href="contacts" class="mws-i-24 i-user">联系人管理</a></li>
                    <li><a href="formula" class="mws-i-24 i-polaroids">公式管理</a></li>
                    <li><a href="filter" class="mws-i-24 i-myspace">机构查询</a></li>
                    <li><a href="stat" class="mws-i-24 i-graph-2">统计</a></li>
                </ul>
            </div>
            <!-- End Navigation -->
            
        </div>
        
        
        <!-- Container Wrapper -->
        <div id="mws-container" class="clearfix">
        
        	<!-- Main Container -->
            <div class="container">
                <div class="mws-panel grid_8">
                    <div class="mws-panel-header">
                        <span class="mws-i-24 i-chart">类型管理</span>
                    </div>
                    <div class="mws-panel-body">
                        <div class="mws-panel-toolbar top clearfix">
                            <ul>
                                <li><a href="javascript:void(0);" onclick="addType();" class="mws-ic-16 ic-add">添加</a></li>
                                <li><a href="javascript:void(0);" onclick="refreshType()" class="mws-ic-16 ic-arrow-refresh">刷新</a></li>
                            </ul>
                        </div>
                        <table class="mws-datatable-fn mws-table" style="width:100%"></table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</body>
</html>
